<div class="country">
  <div class="cases right">
    <h3>Total World Cases</h3>
    <span>{{total.cases}}</span>
  </div>
  <div class="deaths right">
    <h3>Total World Deaths</h3>
    <span>{{total.deaths}}</span>
  </div>
  <div class="recovered right">
    <h3>Total World Recovered</h3>
    <span>{{total.recovered}}</span>
  </div>
  <div class="active-cases right">
    <h3>World ActiveCases</h3>
    <span>{{total.activeCases}}</span>
  </div>
  <div class="TotCases_1M_Pop right">
    <h3>World TotCases_1M_Pop</h3>
    <span>{{total.totCases_1M_Pop}}</span>
  </div>
  <div class="recovery">
    <h3>World Recovery_Proporation</h3>
    <span>{{total.recoveryProporation}}</span>
  </div>
</div>
