*{
  padding: 0;
  margin: 0;
}

section{
  margin:5px;
  background-color:white;
  padding:1px
}
header{
  margin-bottom: 6px;
  padding:5px;
  border:1px solid #a9a9a9;
}

.country{
  margin-bottom: 6px;
}
.container{
  margin-bottom: 6px;
  display: flex;
  flex-direction: row;
}

.map{
  flex:3;
  border:1px solid #a9a9a9;
}

.states{
  flex:1;
  border:1px solid #a9a9a9;
}

.state{
  flex:2;
}

.right{
  margin-right:6px;
}

@media only screen and (max-width: 768px) {
  .container{
    flex-direction: column;

  }
  .right{
    margin-right: 0;
  }
}
